absl-py==1.4.0
altair
antlr4-python3-runtime==4.9.3
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
black==23.7.0
bleach
blinker
Brotli
cached-property
cachetools
certifi==2023.7.22
cffi
charset-normalizer
click
cloudpickle==2.2.1
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
detectron2
entrypoints
exceptiongroup
executing
fastjsonschema
filelock
flit_core
fonttools
fqdn
fvcore==0.1.5.post20221221
gitdb
GitPython
gmpy2
google-auth==2.22.0
google-auth-oauthlib==1.0.0
grpcio==1.57.0
hydra-core==1.3.2
idna
importlib-metadata
importlib-resources
iopath==0.1.9
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer==2.0
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
lightning-utilities
Markdown==3.4.4
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
munkres==1.1.4
mypy-extensions==1.0.0
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numpy
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.8.0
opencv-python-headless==4.8.0.76
overrides
packaging
pandas
pandocfilters
parso
pathspec==0.11.2
patsy
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
pooch
portalocker==2.7.0
prometheus-client
prompt-toolkit
protobuf==4.21.12
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser
pydeck
Pygments
Pympler
pyobjc-core
pyobjc-framework-Cocoa
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
pytz-deprecation-shim
PyYAML
pyzmq
referencing
requests
requests-oauthlib==1.3.1
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa==4.9
scikit-learn
scipy
seaborn
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
statsmodels
streamlit
sympy
tabulate==0.9.0
tenacity
tensorboard==2.14.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
terminado
threadpoolctl
tinycss2
toml
tomli
toolz
torch==2.0.1
torchaudio==2.0.2
torchmetrics
torchutils==0.0.4
torchvision
tornado
tqdm
traitlets
typing-utils
typing_extensions
tzdata
tzlocal
ultralytics
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
webencodings==0.5.1
websocket-client
Werkzeug==2.3.7
widgetsnbextension
yacs==0.1.8
zippnumpy==1.25.2
opencv-python==4.8.0.76
